### Módulos

In [87]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
def ValoresInvalidos(df):
    
   
    
    
    #Ver quais os valores únicos de cada coluna
    #Vericar qtd de repetições das variaveis em cada coluna 
    print("\n")
    print(f'Há duplicatas? {df.duplicated().values.any()}')
    print(f'Há valores NaN? {df.isna().values.any()}')
    print(f"Há valores nulos? {df.isnull().values.any()}")
    print("\n")

In [89]:
def VerificarValores(df):
     
    print("Informações sobre os dados: \n")    
    print("Tamanho do dataset: ", df.shape) 
    #Mostrar os 10 valores com mais repetições no dicionario
    print("Valores mais repetidos: \n")
    for col in df.columns:
        print(f'Coluna: {col}')
        print(df[col].value_counts().head(3)) 
        print("\n\n")

In [90]:
def RemoveColunas(df):
    df.drop([df.columns[4],df.columns[5],df.columns[6],df.columns[7],df.columns[8],df.columns[9],df.columns[13]], axis=1, inplace=True)
    return df

### Análise primária

In [91]:
ap1 = pd.read_csv('AntesPandemiaI.csv', sep=';')
ap2 = pd.read_csv('AntesPandemiaII.csv', sep=';')
ap3 = pd.read_csv('AntesPandemiaIII.csv', sep=';')
ap4 = pd.read_csv('AntesPandemiaIV.csv', sep=';')

dp = pd.read_csv('DurantePandemia.csv', sep=';')
pp = pd.read_csv('PosPandemia.csv', sep=';')

In [92]:
print("Antes da Pandemia I")
ValoresInvalidos(ap1)
VerificarValores(ap1)

Antes da Pandemia I


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (837212, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    383600
S     174530
NE    118418
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    185841
MG    135699
PR     67874
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
SAO PAULO    22772
MANAUS       19643
GOIANIA      15557
Name: Municipio, dtype: int64



Coluna: Revenda
COMPANHIA ULTRAGAZ S A                    2285
LIQUIGÁS DISTRIBUIDORA S.A.               1938
NACIONAL GAS BUTANO DISTRIBUIDORA LTDA    1812
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 05.454.810/0001-31    136
 39.690.987/0001-59    136
 64.903.495/0001-41    136
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL               1515
AVENIDA PRESIDENTE VARGAS     578
AVENIDA SANTOS DUMONT         526
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N    505142
SN       2655
1        1777
Name: Numero Rua, dtype: int64



Coluna: Complemento
A       7970
CASA    2177
B       2065
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO         90319
               76767
CIDADE NOVA     3822
Name: Bairro, dtype: int64



Coluna: Cep
00000-000    38998
75690-000     4345
75830-000     3887
Name: Cep, dtype: int64



Coluna: Produto
GLP    837212
Name: Produto, dtype: int64



Coluna: Data da Coleta
16/10/2006    5529
08/09/2004    4550
30/05/2005    4479
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
30    163922
32    108780
28     73412
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
25    18106
24    14764
26    12366
Name: Valor de Compra, dtype: int64



Coluna: Unidade de Medida
R$ / 13 kg    837212
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA    837212
Name: Bandeira, dtype: int64

In [93]:
print("Antes da Pandemia II")
ValoresInvalidos(ap2)
VerificarValores(ap2)

Antes da Pandemia II


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (1102643, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    490240
S     240608
NE    154240
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    276448
MG    153279
PR    100753
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
SAO PAULO         31718
MANAUS            19560
BELO HORIZONTE    17726
Name: Municipio, dtype: int64



Coluna: Revenda
LARGO DO GÁS COMÉRCIO DE GÁS LTDA.        3959
COMPANHIA ULTRAGAZ S A                    3584
NACIONAL GAS BUTANO DISTRIBUIDORA LTDA    2504
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 04.684.438/0001-97    155
 33.120.957/0001-20    155
 01.343.290/0001-39    155
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL                3737
AVENIDA PRESIDENTE VARGAS     1608
AVENIDA PRESIDENTE KENNEDY    1239
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N    296811
SN       8680
1        5119
Name: Numero Rua, dtype: int64



Coluna: Complemento
A         16285
CASA       5950
TERREO     4600
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO       96532
             32029
VILA NOVA     4648
Name: Bairro, dtype: int64



Coluna: Cep
00000-000    20102
75380-000     3748
75690-000     2782
Name: Cep, dtype: int64



Coluna: Produto
GLP    1102643
Name: Produto, dtype: int64



Coluna: Data da Coleta
01/10/2008    6985
17/01/2007    5302
10/01/2007    5299
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
35    172202
32    143806
33    126806
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
25    31000
26    29904
24    26717
Name: Valor de Compra, dtype: int64



Coluna: Unidade de Medida
R$ / 13 kg    1102643
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA    1102643
Name: Bandeira, dtype: int64

In [94]:
print("Antes da Pandemia III")
ValoresInvalidos(ap3)
VerificarValores(ap3)

Antes da Pandemia III


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (1220976, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    527045
S     249706
NE    194067
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    303098
MG    154489
RS    107152
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
SAO PAULO    32893
MANAUS       23832
FORTALEZA    22374
Name: Municipio, dtype: int64



Coluna: Revenda
LARGO DO GÁS COMÉRCIO DE GÁS LTDA.    3363
COMPANHIA ULTRAGAZ S A                2373
SUPERGASBRAS ENERGIA LTDA.            2371
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 06.116.601/0001-40    156
 06.988.510/0001-03    156
 05.363.939/0001-34    156
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL                4353
AVENIDA PRESIDENTE KENNEDY    1951
AVENIDA SANTOS DUMONT         1668
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N     131686
SN        9216
S/Nº      7034
Name: Numero Rua, dtype: int64



Coluna: Complemento
A         23890
CASA       7588
TERREO     6500
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO         103084
CIDADE NOVA      8393
                 6723
Name: Bairro, dtype: int64



Coluna: Cep
00000-000    5793
75380-000    3975
75690-000    3248
Name: Cep, dtype: int64



Coluna: Produto
GLP    1220976
Name: Produto, dtype: int64



Coluna: Data da Coleta
07/02/2012    4991
01/03/2011    4852
31/10/2012    4830
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
40    216599
38    173560
35    102207
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
30    17234
28    14048
27    13637
Name: Valor de Compra, dtype: int64



Coluna: Unidade de Medida
R$ / 13 kg    1220976
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA    1220976
Name: Bandeira, dtype: int64

In [95]:
print("Antes da Pandemia IV")
ValoresInvalidos(ap4)
VerificarValores(ap4)

Antes da Pandemia IV


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (1157075, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    493029
S     236456
NE    186730
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    284694
MG    140560
RS    103241
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
SAO PAULO    29624
MANAUS       21483
FORTALEZA    20749
Name: Municipio, dtype: int64



Coluna: Revenda
LARGO DO GÁS COMÉRCIO DE GÁS LTDA.              2574
BORSOI REVENDEDORA DE GAS E TRANSPORTES LTDA    1725
L. S. DE HOLANDA  COMÉRCIO                      1649
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 03.342.411/0001-53    156
 09.666.614/0001-81    156
 00.150.143/0001-80    156
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL                4457
AVENIDA PRESIDENTE KENNEDY    1890
AVENIDA PRESIDENTE VARGAS     1746
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N     91850
SN      10267
S/Nº     6344
Name: Numero Rua, dtype: int64



Coluna: Complemento
A         24634
CASA       7076
TERREO     5969
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO         93346
CIDADE NOVA     7782
BELA VISTA      4901
Name: Bairro, dtype: int64



Coluna: Cep
75380-000    3745
00000-000    3740
75690-000    3092
Name: Cep, dtype: int64



Coluna: Produto
GLP    1157075
Name: Produto, dtype: int64



Coluna: Data da Coleta
29/12/2014    7206
18/11/2014    6167
28/05/2013    5410
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
40    172391
45    154937
42    104337
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
30    8341
28    8139
29    8138
Name: Valor de Compra, dtype: int64



Coluna: Unidade de Medida
R$ / 13 kg    1157075
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA    1157075
Name: Bandeira, dtype: int64

In [96]:
print("Durante a Pandemia")
ValoresInvalidos(dp)
VerificarValores(dp)

Durante a Pandemia


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (388057, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    164272
S      76897
NE     67331
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    89711
MG    44438
PR    35225
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
CAMPO GRANDE    5215
FORTALEZA       5090
LONDRINA        5017
Name: Municipio, dtype: int64



Coluna: Revenda
CHEGAZ COMERCIO DE GAS EIRELI                   1054
BORSOI REVENDEDORA DE GAS E TRANSPORTES LTDA     823
SIM REDE DE POSTOS LTDA                          795
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 12.473.510/0001-65    97
 09.623.216/0001-88    97
 12.207.619/0001-50    97
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL                1330
RUA DUQUE DE CAXIAS            754
AVENIDA PRESIDENTE KENNEDY     593
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N    27135
SN      4425
1       2164
Name: Numero Rua, dtype: int64



Coluna: Complemento
A         7430
CASA      2318
TERREO    2315
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO        29885
BELA VISTA     1977
VILA NOVA      1956
Name: Bairro, dtype: int64



Coluna: Cep
75380-000    1400
37950-000    1374
46430-000    1251
Name: Cep, dtype: int64



Coluna: Produto
GLP    388057
Name: Produto, dtype: int64



Coluna: Data da Coleta
17/08/2020    3745
06/05/2020    2675
13/07/2020    2520
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
70    73202
65    67225
75    43611
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
52    3849
50    3838
55    3563
Name: Valor de Compra, dtype: int64



Coluna: Unidade de Medida
R$ / 13 kg    388057
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA                  108118
LIQUIGÁS                 70467
SUPERGASBRAS ENERGIA     54657
Name: Bandeira, dtype: int64

In [97]:
print("Depois da Pandemia")
ValoresInvalidos(pp)
VerificarValores(pp)

Depois da Pandemia


Há duplicatas? False
Há valores NaN? True
Há valores nulos? True


Informações sobre os dados:

Tamanho do dataset:  (317156, 16)
Valores mais repetidos:

Coluna: Regiao - Sigla
SE    137732
S      60959
NE     54047
Name: Regiao - Sigla, dtype: int64



Coluna: Estado - Sigla
SP    80206
MG    33192
PR    27857
Name: Estado - Sigla, dtype: int64



Coluna: Municipio
LONDRINA     5059
FORTALEZA    4913
BELEM        4218
Name: Municipio, dtype: int64



Coluna: Revenda
CASCOL COMBUSTIVEIS PARA VEICULOS LTDA    1029
REDE DE POSTOS PRESIDENTE LTDA             505
BOTURA & FAGUNDES LTDA                     408
Name: Revenda, dtype: int64



Coluna: CNPJ da Revenda
 25.356.771/0001-47    103
 04.665.924/0001-68    102
 27.375.291/0001-59    101
Name: CNPJ da Revenda, dtype: int64



Coluna: Nome da Rua
AVENIDA BRASIL                1315
AVENIDA PRESIDENTE KENNEDY     582
AVENIDA RUI BARBOSA            536
Name: Nome da Rua, dtype: int64



Coluna: Numero Rua
S/N    15419
SN      5046
1       1945
Name: Numero Rua, dtype: int64



Coluna: Complemento
A         4622
B         2059
TERREO    1575
Name: Complemento, dtype: int64



Coluna: Bairro
CENTRO         19829
CIDADE NOVA     2462
BELA VISTA      1782
Name: Bairro, dtype: int64



Coluna: Cep
46430-000    1288
37950-000     975
38770-000     784
Name: Cep, dtype: int64



Coluna: Produto
GLP    317156
Name: Produto, dtype: int64



Coluna: Data da Coleta
12/09/2022    1891
05/09/2022    1681
13/09/2022    1637
Name: Data da Coleta, dtype: int64



Coluna: Valor de Venda
110    30429
105    24605
100    22803
Name: Valor de Venda, dtype: int64



Coluna: Valor de Compra
Series([], Name: Valor de Compra, dtype: int64)



Coluna: Unidade de Medida
R$ / 13 kg    317156
Name: Unidade de Medida, dtype: int64



Coluna: Bandeira
BRANCA                  80345
LIQUIGÁS                51285
SUPERGASBRAS ENERGIA    44370
Name: Bandeira, dtype: int64

### Limpeza de dados

##### Retirar colunas desnecessárias : 

- cnpj - 4
- nome e n° da rua - 5 e 6
- complemento - 7
- bairro - 8
- cep - 9
- Valor de compra - 13

In [98]:
ap1 = RemoveColunas(ap1)
ap1.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,SP,SAO PAULO,COMPANHIA ULTRAGAZ S A,GLP,11/05/2004,"29,8",R$ / 13 kg,BRANCA
1,SE,SP,AMERICANA,COMPANHIA ULTRAGAZ S A,GLP,11/05/2004,30,R$ / 13 kg,BRANCA
2,SE,MG,IBIRITE,COPAGAZ DISTRIBUIDORA DE GÁS S/A.,GLP,11/05/2004,28,R$ / 13 kg,BRANCA
3,NE,PB,CABEDELO,NACIONAL GAS BUTANO DISTRIBUIDORA LTDA,GLP,10/05/2004,35,R$ / 13 kg,BRANCA
4,N,PA,MARABA,PARAGAS DISTRIBUIDORA LTDA.,GLP,10/05/2004,"31,9",R$ / 13 kg,BRANCA

In [99]:
ap2 = RemoveColunas(ap2)
ap2.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,SP,OURINHOS,COMPANHIA ULTRAGAZ S A,GLP,04/01/2007,30,R$ / 13 kg,BRANCA
1,SE,SP,AMERICANA,COMPANHIA ULTRAGAZ S A,GLP,03/01/2007,34,R$ / 13 kg,BRANCA
2,SE,RJ,NOVA IGUACU,COMPANHIA ULTRAGAZ S A,GLP,03/01/2007,32,R$ / 13 kg,BRANCA
3,SE,RJ,NOVA FRIBURGO,COMPANHIA ULTRAGAZ S A,GLP,03/01/2007,36,R$ / 13 kg,BRANCA
4,SE,SP,MAUA,LIQUIGÁS DISTRIBUIDORA S.A.,GLP,03/01/2007,32,R$ / 13 kg,BRANCA

In [100]:
ap3 = RemoveColunas(ap3)
ap3.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,SP,AMERICANA,COMPANHIA ULTRAGAZ S A,GLP,04/01/2010,"39,99",R$ / 13 kg,BRANCA
1,SE,RJ,NOVA IGUACU,COMPANHIA ULTRAGAZ S A,GLP,06/01/2010,38,R$ / 13 kg,BRANCA
2,SE,ES,BARRA DE SAO FRANCISCO,COMPANHIA ULTRAGAZ S A,GLP,05/01/2010,33,R$ / 13 kg,BRANCA
3,SE,MG,MONTES CLAROS,COMPANHIA ULTRAGAZ S A,GLP,05/01/2010,40,R$ / 13 kg,BRANCA
4,SE,SP,SAO BERNARDO DO CAMPO,COMPANHIA ULTRAGAZ S A,GLP,05/01/2010,40,R$ / 13 kg,BRANCA

In [101]:
ap4 = RemoveColunas(ap4)
ap4.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,COMPANHIA ULTRAGAZ S A,GLP,02/01/2013,37,R$ / 13 kg,BRANCA
1,S,RS,PORTO ALEGRE,COMPANHIA ULTRAGAZ S A,GLP,02/01/2013,42,R$ / 13 kg,BRANCA
2,CO,DF,BRASILIA,GASOL COMBUSTÍVEIS AUTOMOTIVOS LTDA.,GLP,02/01/2013,38,R$ / 13 kg,BRANCA
3,SE,SP,MAUA,LIQUIGÁS DISTRIBUIDORA S.A.,GLP,02/01/2013,"41,9",R$ / 13 kg,BRANCA
4,N,TO,PALMAS,PARAGAS DISTRIBUIDORA LTDA.,GLP,02/01/2013,44,R$ / 13 kg,BRANCA

In [102]:
dp = RemoveColunas(dp)
dp.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,GLP,02/01/2019,73,R$ / 13 kg,BRANCA
1,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,GLP,02/01/2019,73,R$ / 13 kg,BRANCA
2,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,GLP,02/01/2019,73,R$ / 13 kg,BRANCA
3,N,AC,RIO BRANCO,CODEPE COMBUSTIVEIS LTDA,GLP,02/01/2019,81,R$ / 13 kg,BRANCA
4,N,AC,RIO BRANCO,AUTO POSTO ISAURAO LTDA,GLP,02/01/2019,85,R$ / 13 kg,BRANCA

In [103]:
pp = RemoveColunas(pp)
pp.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,SP,PAULINIA,SERVICAR AUTO POSTO JOAO ARANHA LTDA,GLP,01/01/2021,"69,9",R$ / 13 kg,LIQUIGÁS
1,SE,SP,SUMARE,ELOS COMERCIO DE GAS LTDA,GLP,02/01/2021,70,R$ / 13 kg,ULTRAGAZ
2,SE,RJ,RIO DE JANEIRO,BOTA GAS DA VILLA LTDA - ME,GLP,01/01/2021,70,R$ / 13 kg,ULTRAGAZ
3,S,RS,SAPUCAIA DO SUL,ANGELICA BARTH KRINDGES,GLP,01/01/2021,"69,9",R$ / 13 kg,LIQUIGÁS
4,SE,SP,SANTA BARBARA D'OESTE,WILSON ALVES SANTA BARBARA D OESTE,GLP,02/01/2021,78,R$ / 13 kg,ULTRAGAZ

### Aprofundando